body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: white;
}

#red {
    color: white;-webkit-text-stroke: 1px black; -webkit-text-fill-color:  #DD404C ;font-weight: bold;
    text-align: center;
    
}

button {
    padding: 5px;
    background: transparent;
    border: none;
}

#center {
    text-align: center;
}

#container {
    background-color: white;
}

.bg-transparente {
    background-color: rgba(50, 50, 50, 0.7);
}

.carousel-item {
    height: 400px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 767.98px) {
    .carousel-item {
        height: 250px;
    }
}

footer {
    margin-top: auto;
}

#sinopse {
    font-weight: bold;
}
